doctype html 
html 
head
    title Dress up Darling
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap")
    link(rel="stylesheet",href="/style.css")
body
    div.container
        h1 Dress up your doll 
        canvas#dollCanvas(width= "900", height="600")
    script(src="/script.js")
